// Import core styles
@import '../../node_modules/@tweakpane/core/lib/sass/plugin';

:root {
	--tp-plugin-image-dragging-color: hsla(230, 100%, 66%, 1.00);
}

.#{$prefix}-imgv {
	@extend %input;

	cursor: pointer;
	display: grid;
	height: calc(var(--bld-us) * 3);
	overflow: hidden;
	position: relative;

	&.#{$prefix}-v-disabled {
		opacity: 0.5;
	}

	&_input {
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	&_image {
		width: 100%;
		height: 100%;
		position: absolute;
		pointer-events: none;
		border: 0;
	}

	&_image_contain {
		object-fit: contain;
	}

	&_image_cover {
		object-fit: cover;
	}
	
	&_area_root {
		transition: opacity 0.16s ease-in-out;
	}

	&_area_dragging {
		border: 2px dashed var(--tp-plugin-image-dragging-color);
    border-radius: 6px;
		opacity: 0.6;
	}
}
